@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(231, 226, 221);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.cart-btn {
  position: relative;
}

.orange {
  color: var(--primaryColor);
  font-size: 2rem;
}

/* --------------- End of Navbar ---------------- */
/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("./images/bg1.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  text-align: center;
  background-color: rgb(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
  border-radius: 9px;
}

.banner-title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background-color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  display: inline-block;
}

.check-out {
  padding: 1rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background-color: #00b462;
  border: 1px solid #00b462;
  transition: var(--mainTransition);
  cursor: pointer;
  display: inline-block;
}

.banner-btn:hover {
  background: transparent;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

.banner:hover a {
  color: var(--primaryColor);
}

.banner-btn:active {
  outline: none;
}

/* --------------- End of Hero ---------------- */
/* --------------- Products ---------------- */
.products {
  padding: 4rem 0;
  margin-bottom: 5rem;
}

.section-title h2 {
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  overflow: hidden;
  position: relative;
}

.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background-color: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: .5rem .75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}

.fa-shopping-cart {
  margin-right: .5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

.img-container:hover .product-img {
  opacity: .5;
}

.product h3 {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.product h4 {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  margin-top: 0.7rem;
}

/* --------------- End of Products ---------------- */
/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(240, 157, 81, 0.5);
  transition: var(--mainTransition);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(231, 226, 221);
  z-index: 3;
  overflow: scroll;
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}

.showCart {
  transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media screen and (min-width:768px) {
  .cart {
    width: 25vw;
    min-width: 450px;
  }
}

.close-cart {
  cursor: pointer;
  font-size: 1.7rem;
}

.close-cart:hover {
  color: var(--primaryColor);
}

.cart h2 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 2rem;
  margin: 1.5rem 0;
}

.cart-item img {
  height: 75px;
  width: 75px;
}

.cart-item h4 {
  font-size: 1rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.cart-item h5 {
  letter-spacing: var(--mainSpacing);
  margin: .5rem 0;
}

.cart-item i {
  color: var(--primaryColor);
  font-weight: bold;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: gray;
  cursor: pointer;
}

/*---------- side cart icon -------------------- */
.side-cart {
  position: fixed;
  top: 80px;
  right: 0;
  width: 70px;
  height: 140px;
  background-color: #f09d51bf;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 2px solid rgb(231, 226, 221);
  border-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.side-cart-btn {
  position: fixed;
  top: 135px;
  right: 10px;
}

.cart-icon {
  font-size: 2rem;
  cursor: pointer;
}

.cart-items {
  background-color: rgb(231, 226, 221);
  border-radius: 30%;
  padding: 0 5px;
  position: absolute;
  top: -5px;
  right: -1px;
}

/*---------- End of side cart icon -------------------- */
/*---------- End of Cart Item -------------------- */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.fa-chevron-up, .fa-chevron-down {
  cursor: pointer;
}

/* --------------- End of Cart ---------------- */